
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Workout diary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add movement</h1>
	<div>
		<form th:object="${movement}" th:action="@{../saveMovement}" action="#" method="post">
			<div class="row form-group">
				<div class="col-md-1">
			  		<label for="name" class="form-label">Name</label>
			  	</div>
			  	<div class="col-md-3">
					<input type="text" class="form-control" id="name" th:field="*{name}" />
			  	</div>
			</div>
			<br/>
			<input class="btn btn-success" type="submit" value="Save"></input>			
			<a class="btn btn-success" href="/movementlist">Cancel</a>	
		</form>
	</div>
</body>
</html>