<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Workout diary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Navbar</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="/entrylist">Entries</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/workoutlist">Workouts</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/movementlist">Movements</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="col-md-4">
		<h1>Workouts</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table class="table" >
		<tr>
		    <th>Name</th>
		    <th>Movements</th>
		    <th></th>
		    <th></th>
		</tr>  
    	<tr th:each = "workout : ${workouts}">
    		<td th:text="${workout.name}"></td>
    		<td>
    			<div th:each = "movement : ${workout.movements}"><div th:text = "${movement.name}"></div></div>
    		</td>
    		<td><a sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger" th:href="@{/deleteWorkout/{id}(id=${workout.id})}">Delete</a></td>
    		<td><a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success" th:href="@{/editWorkout/{id}(id=${workout.id})}">Edit</a></td>
    	</tr>
     </table>
     <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success" href="/addWorkout">Add workout</a>
</body>
</html>